@font-face {
    font-family: 'Lexend Deca';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
        url('../fonts/LexendDeca-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/space-mono-v10-latin-700.woff2') format('woff2'),
        url('../fonts/space-mono-v10-latin-700.woff') format('woff'); 
  }